name: CI
on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      # This "Action" downloads a pre-made computer (Docker container) 
      # that already has Android, Java, and Kivy installed perfectly.
      - name: Build with Buildozer
        uses: ArtemSBulgakov/buildozer-action@v1
        id: buildozer
        with:
          command: buildozer android debug
          buildozer_version: master

      # Upload the result
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: drivelearn-apk
          path: bin/*.apk
